@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/*body {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

main {
    width: 50vw;
    padding: 0 2rem;
    border-radius: 1rem;
    box-shadow: rgb(248, 248, 250) 7px 7px 29px 7px;
    background-color: #fff;
    margin-left: 25%;
   
}

section {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

section div h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

section div .contador_notificacao {
    width: 2rem;
    height: 1.5rem;
    background-color: var(--blue);
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

section .botao_marca_tudo {
    color: var(--grayish-blue);
}

main ul li {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    color: var(--grayish-blue);
}

main li {
    background-color: var(--light-grayish-blue-1);
}

main ul li img {
    width: 3.5rem;
    height: 3.5rem;
}

main ul li .info_notificacao {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

main ul li .info_notificacao .texto_notificacao {
    position: relative;
    width: fit-content;
}

main ul li .info_notificacao a {
    font-weight: 800;
}

main ul li .info_notificacao .link-post {
    color: var(--dark-grayish-blue);
}

main ul li .info_notificacao .link-grupo {
    color: var(--blue);
}

main ul li .info_notificacao .texto_privado_msg {
    margin-top: 0.5rem;
    padding: 1rem;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    text-align: justify;
    color: var(--dark-grayish-blue);
}

main ul li .imagem_notificacao {
    position: absolute;
    right: 0;
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
}

section .botao_marca_tudo:hover, main ul li .info_notificacao a:hover {
    transition: 0.3s ease-in-out;
    color: var(--blue);
}

main ul li .info_notificacao .texto_privado_msg:hover, main ul li .imagem_notificacao:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: var(--light-grayish-blue-2);
}

@media screen and (max-width: 1150px) {
    main {
    width: 70vw;
    }
}

@media screen and (max-width: 830px) {
    main {
    width: 80vw;
    }
}

@media screen and (max-width: 710px) {
    main {
    width: 95vw;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    
    main {
    width: 100vw;
    }
}

/* Classes Flutuantes */
.nova_notificacao {
    background-color: var(--light-grayish-blue-3);
}

.ponto_notificacao {
    display: none;
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.2rem;
    background-color: #ff4500;
    border-radius: 50%;
}